
@font-face {
    font-family: "vazir-medium";
    src: url(../font/fonts/ttf/Vazirmatn-Medium.ttf) format(truetype) , 
    url(../font/fonts/webfonts/Vazirmatn-Light.woff2) format(woff2);
    font-weight: 200;
    
}
